body {
    background-color: #757575;
    font-size: 12pt;
}

hr {
    margin: 20px 0px;
}

.chapter-head {
    font-size: 14pt;
}

.big-chapter-head {
    font-size: 18pt;
}

.underline {
    border-bottom: 1px solid black;
}

.center {
    text-align: center;
}

.catch-word {
    text-align: right;
}

.cited-book {
    font-style: italic;
}

.chapter-number {
    /*display: inline-block;
    width: 55px;
    text-align: right;
    overflow: hidden;*/
}

.plaintext-link {
    text-decoration: none;
    color: black;
}

/*
.container {
    width: 960px;
    background-color: white;
    overflow: hidden;
    margin: 0px auto;
}
*/

.sentence {
    overflow: hidden;
    padding-top: 5px;
}

.catch {
    float: right;
}

/*
.meta-stuff {
    display: inline;
    float: left;
    width: 480px;
}*/

.meta-stuff-right {
    padding-right: 200px;
}

.meta-stuff-left {
    padding-left: 200px;
}

.old-e,
.mod-e,
.old-e-contd,
.mod-e-contd {
    display: inline;
    float: left;
    width: 470px;
    padding-left: 30px;
}

.old-e,
.old-e-contd {
    float: left;
}

.mod-e,
.mod-e-contd {
    float: right;
}

.old-e,
.mod-e {
    text-indent: -25px;
}

.page-text {
    position: relative;
}

.splash-title .jumbotron {
    margin: 0;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.jumbotron h1 {
    margin: 0;
}

.book-background {
    background-image:url('manuscript.jpg'); 
    background-repeat: no-repeat; 
    background-position: 55% 33%;

    margin-top: -20px;
}

.splash-title {
    color: white;

    width: 100%;

    text-align: center;

    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

.splash-container {
    width: 100%;
    height: 600px;

    padding: 10px;
}
